@import "tailwindcss";
@import "tailwindcss-animated";

.bg-image {
    background-image: url("/bg.webp");
    background-size: cover;
}

@font-face {
    font-family: 'yxj-font';
    src: url('/Love.woff2') format('woff2'),
}

.yxj-font {
    font-weight: bolder;
    font-family: 'yxj-font', sans-serif;
}